@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* { /* reset */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root { /* variables para los colores */
    --color_text-primary: #AB29CA;
    --color_text-secundary: #101E2C;
    --color_text-tertiary: #485663;
    --main_color-primary: #701687;
    --main_color-secundary: #F4D4FB;
    --background-color: #FAFBFE;
    --lowText_font_size: 16px;
    --text_size_title: 40px;
    --text_title_card: 24px;
    --text_title_cardv2: 20px;
    --text_paragraph: 16px;
    --box_shadow-primary: 0px 6px 50px -20px rgba(0,0,0,0.2);
    --clr-main-light: #E6E3EA4;
    --clr-white: #ececec;
    --clr-gray: #e2e2e2;
    --clr-red: #961818;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    background: var(--main_color-secundary);
    transition: 0.3s ease all; /*transicion para el cambio de color*/
}

body.dark {
  background: #111111;
}

.wrapper {
    padding-top: 80px;
    padding-bottom: 120px;
    padding-right: 30px;
    display: grid;
    grid-template-columns: .80fr 3fr;
}

aside {
    padding-top: 14rem;
    padding-left: 40px;
    padding-right: 0;
    color: var(--color_text-secundary);
    /* position, top y height se utilizan para dejar fijo el navbar del aside */
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;/* pone los elementos uno al lado del otro */
    flex-direction: column; /* vuelve a poner los elementos uno abajo del otro */
    justify-content: space-between; /* se separan los hijos lo maximo posible entre ellos */
}

.menu-aside {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.boton-menu{
    /*reset boton menu*/
    background-color: transparent;
    border: 0;
    color: var(--main_color-primary);
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;/*alinea verticalmento lo de adentro*/
    gap: 1rem;
    font-weight: 700;
    padding: 1.2rem;
    font-size: .85rem;
    width: 100%;
}

/* Para girar el icono de cada seccion del menu
.boton-menu > i.bi-hand-index-thumb-fill {
    transform: rotateZ(90deg);
}
*/ 

.notificacion {
    background-color: var(--clr-white);
    color: var(--main_color-primary);
    padding: .15rem .25rem;
    border-radius: .25rem;

}

.boton-menu.active {
    background-color: var(--clr-white);
    color: var(--main_color-primary);
    /*border radius solamente a la izquierda*/
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;/*para que el boton hijo funcione como absolute*/
}

/*Border radius superior derecho del final del boton activo
Son pseudoelementos que podemos insertar al html*/
.boton-menu.active::before{
    content: '';/*debe estar siempre*/
    position: absolute;
    width: 1rem; 
    height: 2rem;
    bottom: 100%; /*para que este arriba del elemento, desde abajo lo mueve 100% hacia arriba del borde superior del elemento*/
    right: 0;
    background-color: transparent;
    border-bottom-right-radius: 1rem;
    box-shadow: 0 1rem 0 var(--clr-white); /* para darle relleno al radius generado anteriormente */ /*derecha-izquierda arriba-abajo 0 difuminado color */
}

/*Border radius inferior derecho del final del boton activo*/
.boton-menu.active::after{
    content: '';/*debe estar siempre*/
    position: absolute;
    width: 1rem; 
    height: 2rem;
    top: 100%; /*para que este abajo del elemento, desde arriba lo mueve 100% hacia abajo del borde inferior del elemento*/
    right: 0;
    background-color: transparent;
    border-top-right-radius: 1rem;
    box-shadow: 0 -1rem 0 var(--clr-white); /* para darle relleno al radius generado anteriormente */ /*derecha-izquierda arriba-abajo difuminado color */
}

.boton-carrito {
    margin-top: 2rem;
}



/* I N F O R M A C I O N     D E R E C H A */

main {
    background-color: var(--clr-white);
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;
}

.titulo-principal {
    color: var(--main_color-primary);
    margin-bottom: 2rem;
}

.contenedor-productos { /* grilla */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem; /* para separar los elementos*/
}

.producto-imagen {
    max-width: 100%; /* asi no ocupa mas del 100% de su padre que es su grilla */
    border-radius: 1rem;
}

.producto-detalles {
    background-color: var(--main_color-primary);
    color: var(--clr-white);
    padding: .5rem;
    border-radius: 1rem;
    margin-top: -2rem; /*para que suba el elemento*/
    position: relative; /*para que se ponga encima*/
    display: flex;
    flex-direction: column;
    gap: .25rem; /*separar los elementos entre ellos*/
}

.producto-titulo {
    font-size: 1rem
} 

.producto-agregar {
/* reset boton */
    border: 0;
    background-color: var(--clr-white);
    color: var(--main_color-primary);
    padding: .5rem;
    text-transform: uppercase; /*transforma la letra en mayuscula*/
    border-radius: 2rem;
    cursor: pointer;/* para que al pasar el cursor, se visibilice la manito */
    border: 2px solid var(--clr-white);
    transition: background-color .2s, color .2s;
}

.producto-agregar:hover {
    background-color: var(--clr-main);
    color: var(--clr-white);
}

footer {
    position: block;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    background-color: #282e3e!important;
    color: var(--background-color);
    padding: 2rem 0;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: small;
  }


/* E S T I L O S    M O D O    O S C U R O */

body.dark .text__cover h1 {
    color: #c1c7cb;
}

body.dark .logo h2 span{
    color: #45beb2;
}

body.dark .menu-nav nav ul li a{
    color: var(--color_text-primary);
}

body.dark .menu-nav nav ul li a:hover{
    color: #fff;
}

body.dark .btn__quote{
    color: var(--color_text-primary);
    border: 2px solid var(--color_text-primary);
}

body.dark .btn__quote:hover{
    color: white;
    background: var(--main_color-primary);
}

body.dark .boton-menu {
    color: #cecdcd;
}

body.dark .boton-menu.active{
    color: var(--main_color-primary);
    font-weight: 700;
}

body.dark .bg-footer {
    background:#547a95!important;
}
