@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* { /* reset */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root { /* variables para los colores */
    --color_text-primary: #AB29CA;
    --color_text-secundary: #101E2C;
    --color_text-tertiary: #485663;
    --main_color-primary: #701687;
    --main_color-secundary: #F4D4FB;
    --background-color: #FAFBFE;
    --lowText_font_size: 16px;
    --text_size_title: 40px;
    --text_title_card: 24px;
    --text_title_cardv2: 20px;
    --text_paragraph: 16px;
    --box_shadow-primary: 0px 6px 50px -20px rgba(0,0,0,0.2);
    --clr-main-light: #E6E3EA4;
    --clr-white: #ececec;
    --clr-gray: #e2e2e2;
    --clr-red: #961818;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    background: var(--main_color-secundary);
    transition: 0.3s ease all; /*transicion para el cambio de color*/
}

body.dark {
  background: #111111;
}

.container__contacto {
    font-family: 'Quicksand', sans-serif;
    padding: 1.5rem;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 110px;
    padding-bottom: 100px;
}

.contacto-wrapperr {
    box-shadow: 0 0 20px var(--main_color-primary);
    background: #490c58;   
}

.contacto-wrapperr > * {
    padding: 2em;
}

.contacto-form {
    background: #ffdcf6;
    color: var(--color_text-secundary);
    padding: 5em;
}

.contacto-form h3 {
    padding: 1em;
    margin-bottom: 20px;
}

.contacto-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 70px;
    column-gap: 40px;
}
.contacto-form form .block  {
    grid-column: 1 / 3;
}

.contacto-form form button {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: var(--main_color-primary);
    border-bottom: 3px solid var(--clr-red);
}

.inputBox {
    position: relative;
    /* width: 320px; */
}

.inputBox input, .inputBox textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid var(--clr-red);
    background: none;
    border-radius: 5px;
    outline: none;
    color: rgb(94, 30, 30);
    font-size: 1em;
    font-weight: 500;
    transition: 0.5s;
}

.inputBox span {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 0.85em;
    color: var(--clr-red);
    transition: 0.5s;
}

/*--- A n i m a c i o n   d e l      I n p u t */
.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
    background: #983737;
    color: #fff;
    border-radius: 5px;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    border-left: 1px solid #983737;
    border-right: 1px solid #983737;
    letter-spacing: 0.1em;/*espaciado entre letras*/
}

.inputBox textarea:valid span ,
.inputBox textarea:focus ~ span {
    background: #983737;
    color: #fff;
    border-radius: 5px;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    border-left: 1px solid #983737;
    border-right: 1px solid #983737;
    letter-spacing: 0.1em;/*espaciado entre letras*/   
}

.inputBox input:valid,
.inputBox input:focus,
.inputBox textarea:valid,
.inputBox textarea:focus {
    border: 2px solid #983737;
}

.contacto-form form button {
    background: #490c58;
    border: 0;
    color: var(--background-color);
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 0px;
    padding: 1em;
}

.contacto-form form button:hover,
.contacto-form form button:focus {
    background: #6f2b81;
    color: var(--main_color-secundary);
    transition: background-color 1s ease-out;
    outline: 0;
}

.contacto-info {
    color: var(--background-color);
    padding: 4.5em 2em;
}

.contacto-info h4,
.contacto-info ul,
.contacto-info p {
    text-align: left;
    margin: 0 0 1rem 0;
    padding: 1em;

}

.contacto-info ul {
    padding: 0.90em;
}

.contacto-info ul i{
    padding-right: 1rem;
    color: #618caa;
}

.contacto-wrapperr {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
}


/* E S T I L O S    M O D O    O S C U R O */

/* body.dark .text__cover h1 {
    color: #c1c7cb;
}

body.dark .logo h2 span{
    color: #45beb2;
}

body.dark .menu-nav nav ul li a{
    color: var(--color_text-primary);
}

body.dark .menu-nav nav ul li a:hover{
    color: #fff;
}

body.dark .btn__quote{
    color: var(--color_text-primary);
    border: 2px solid var(--color_text-primary);
}

body.dark .btn__quote:hover{
    color: white;
    background: var(--main_color-primary);
}

body.dark .boton-menu {
    color: #cecdcd;
}

body.dark .boton-menu.active{
    color: var(--main_color-primary);
    font-weight: 700;
}

body.dark .bg-footer {
    background:#547a95!important;
} */
